@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Germania+One);

body {
	background-color: rgba(128,128,128, 0.0333);
	font-family: Helvetica, Arial, sans-serif;
	margin: 1em;
}


h3 {
	border-bottom: 1px solid rgba(128,128,128, 0.5);
	margin-bottom: 0.33em;
	
	font-family: Germania One;
	font-size: 4.5em;
}

table.wrapper {
	height:100%;
   	width: 100%;
	
	margin: 0;
    padding: 0;
    border: 0;
}

table.wrapper tr td {
   	vertical-align: middle;
   	text-align: center;
}

img.logo-big {
	width: inherit;
	max-width: 100%;
	height: auto;
}

span.error {
	color: red;
	font-weight: lighter;
	display: inline-box;
}

/* handle form layout for login */
.pure-control-group input[type=text], .pure-control-group input[type=password], .pure-control-group input[type=submit] {
	display: inline-block;
	margin-right: 1em;
	
}

.pure-control-group input[type=text], .pure-control-group input[type=password] {
	background-color: rgba(128,128,128,0.05);
}
	




/*    MIXINS    */

.box {
	padding: 0.5em;
}

.form {
	background-color: rgba(128,128,255,0.1);
}